<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a new listing</h3>
    <form method="POST" action="/listings">
        <input name="title" placeholder="enter title" type="text">
        <br>
        <textarea name="description" placeholder="enter description" type="text">
        <br> 
        <input name="image" placeholder="enter image URL/link" type="text">
        <br>
        <input name="price" placeholder="enter price" type="number">
        <br>
        <input name="location" placeholder="enter location" type="text">
        <br> 
 


    </form>
    
</body>
</html>